<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<title>Christmas FORCE</title>
	<meta name="description" content="Politique de confidentialité">
	<meta name="keywords" content="hap, hapshot, social, app">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/img/projet_force.png" />
</head>

<body>

	<div class="contenu">
		<h1>POLITIQUE DE CONFIDENTIALITE</h1>
		<br>
		Cette politique de confidentialité se limite à l'utilisation du Christmas Force via téléchargement sur Google Play.
		<br>
		1. Quelles données collectons-nous ?
		<br>

		Aucune donnée n'est  conservée sur nos serveurs.

		Aucune information n'est sauvegardée dans nos serveurs.
		<br>

		2.Transmission des données à des tiers
		<br>

		Nous ne transmettons aucune donnée personnelle non anonymisé à des tiers sans votre consentement explicite.

		Consentement à la politique de confidentialité

		En utilisant le jeu Chrismas Force vous consentez à la politique de confidentialité
		<br>

		3.Changement dans notre politique de confidentialité

		Si nous décidons de changer notre politique de confidentialité, nous noterons les changements sur dans ce paragraphe et/ou modifieront la date ci-dessous.
		<br>

		4.Nous contacter
		<br>

		Pour toute question à propos de cette politique de confidentialité, vous pouvez nous contacter à l'adresse suivante: wiyam@icloud.com
	</div>




	<div class="footer">
		<div id="contenu_fin">
			<div class="row">
				<div class="column" >
					<h2><a href="/">Hap</a></h2>
					<p><a href="http://netneer.com/">A propos de moi</a></p>
					<p><a href="">Actualités</a></p>
				</div>
				<div class="column" >
					<h2><a href="/">Informations</a></h2>
					<p><a href="privacy">Politique de confidentialité</a></p>
				</div>
				<div class="column">
					<p><b>© William-Arno CLEMENT</b></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
