<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Hap</title>
  <meta name="description" content="Hap is a new way to share yourself, discover yourself and follow people you care about. ">
  <meta name="keywords" content="hap, hapshot, social, app, hap.sh, blog, microblog, social network">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/hap.png" />
</head>

<body class="body_one">
  <div class="contenu">
    <div hidden>
      <span id="hpshtr" hpsht="{{user}}"></span>
    </div>
    {{> header0}}
    <div class="feed">
      <div class="profile_header">
        <!--<img src="" alt="">-->
        <h1>
          @{{user}}
          {{#when user 'eq' hapshooter}}
             <p style="color:blue">It's you !</p>
          {{/when}}
          {{#when user 'noteq' hapshooter}}
             <button type="submit" id="Follow" class="follow active">Follow</button>
          {{/when}}
        </h1>
      </div>
      <div class="msg_container"></div>
    </div>
  </div>
  <script src="../js/common.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="../js/profile.js"></script>
</body>
</html>
