<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Hap</title>
  <meta name="description" content="Hap is a new way to share yourself, discover yourself and follow people you care about. ">
  <meta name="keywords" content="hap, hapshot, social, app, hap.sh, blog, microblog, social network">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/hap.png" />
</head>

<body class="body_one">
  <div class="contenu">
    <div class="feed_header">
      <div class="logo">
        <img src="img/hap.png" alt="hapshot logo">
        <input type="text" placeholder="Search">
      </div>
      <div class="shot_menu">
        <button id="modal-btn">Account</button>
      </div>
    </div>
    <div class="modal">
      <div class="modal-content">
        <span class="close-btn">&times;</span>
        {{#if hapshooter}}
        <img src="img/mascotte.png" alt="mascotte" height="auto" width="70%">
        <p>Connected as {{hapshooter}} </p>
        <br>
        <a href="/{{hapshooter}}">My Profile</a>
        <br>
        <a href="/logout">Log Out</a>
        {{/if}}
      </div>
    </div>
    <div class="feed">
      <div class="profile_header">
        <!--<img src="" alt="">-->
        <div class="name">
          {{hapshooter}}
        </div>
      </div>
      <div class="msg_container"></div>
    </div>
  </div>
  <script src="js/common.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/profile.js"></script>
</body>
</html>
