<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<title>Hapshot - SignUp</title>
	<meta name="description" content="Politique de confidentialité">
	<meta name="keywords" content="hap, hapshot, social, app">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="img/projet_force.png" />
</head>

<body>
<form class="form-horizontal" action="/auth/register" method="POST">
	<div class="contenu_tmp">
		<div class="backToHP">
			<a href="/">Back to Homepage</a>
		</div>
		<h1>Sign Up</h1>
		<div class="form-group">
			<label class="col-md-4 control-label" for="name">username</label>
			<div class="col-md-4">
				<input id="name" name="name" type="text" placeholder="nom d'utilisateur" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="email">e-mail</label>
			<div class="col-md-4">
				<input id="email" name="email" type="text" placeholder="courrier electronique" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Password input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="password">password</label>
			<div class="col-md-4">
				<input id="password" name="password" type="password" placeholder="mot de passe" class="form-control input-md">
			</div>
		</div>

		<input class="action" type="submit" value="Submit">
	</div>
</form>



	<!--<div class="footer">
		<div id="contenu_fin">
			<div class="row">
				<div class="column" >
					<h2><a href="/">Hap</a></h2>
					<p><a href="http://netneer.com/">A propos de moi</a></p>
					<p><a href="">Actualités</a></p>
				</div>
				<div class="column" >
					<h2><a href="/">Informations</a></h2>
					<p><a href="privacy">Politique de confidentialité</a></p>
				</div>
				<div class="column">
					<p><b>© William-Arno CLEMENT</b></p>
				</div>
			</div>
		</div>
	</div>-->
</body>
</html>
